go 1.25.10

use (
	.
	./adapters/authz/cedar
	./adapters/cmdworkflow/dbos
	./adapters/cmdworkflow/restate
	./adapters/storage/postgres
	./adapters/storage/sqlite
	./examples/cmdworkflow
	./examples/customerview
	./examples/employee
	./examples/invoice
	./examples/orderfulfillment
	./examples/party
	./examples/cmdworkflow-dbos
	./examples/cmdworkflow-restate
	./examples/statestream
	./proto-gen
)
